/* main.css */

@import url(./style.css);

/* **** media query **** */
.web-none {
  display: none;
}
.mob-only {
  display: none;
}
.tab-only {
  display: none;
}

/* **** font size **** */

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 35px;
  font-weight: 700;
}

h4 {
  font-size: 22px;
  font-weight: 700;
}

/* **** body 기본패딩(header 고정) **** */
body {
  padding-top: 90px;
}

/* #### header #### */
header {
  width: 100vw;
  height: 90px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 0.2px solid #ddd;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  width: 323px;
  line-height: 90px;
  padding: 0 20px;
  background: var(--kolon-blue);
}

header .gnb .depth1 {
  display: flex;
  height: 90px;
}

header .gnb .depth1 > li {
  width: 120px;
  position: relative;
  text-align: center;
  transition: 0.5s;
}

header .gnb .depth1 > li > a {
  font-size: 18px;
  font-weight: 500;
  line-height: 90px;
  display: block;
}

header .gnb .depth2 li {
  margin: 20px 0px;
}

header .gnb .depth2 a {
  font-size: 16px;
}

/* **** gnb 호버효과 **** */
header .gnb .depth2 {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

header .gnb .depth1:hover > li {
  width: 150px;
}

header .gnb .depth1:hover .depth2 {
  height: 280px;
  opacity: 1;
  transition-delay: 0.2s;
}

header .gnb .depth1 > li:hover > a {
  color: var(--kolon-blue);
  font-weight: 700;
}

header .gnb .depth1 > li:hover .depth2 {
  background: #f7f7f7;
}

header .gnb .depth2 li:hover a {
  color: var(--kolon-blue);
  font-weight: 700;
}

header .gnb .depth1::after {
  content: "";
  width: 100vw;
  height: 0;
  background: #fff;
  position: absolute;
  left: 0;
  top: 90px;
  transition: 0.2s 0.2s;
  z-index: -1;
}
header .gnb .depth1:hover::after {
  height: 280px;
}

header .btn-group {
  padding: 0 20px;
  display: flex;
  gap: 30px;
}

/* ####  main-title #### */
.main-title .container {
  width: 100%;
  height: calc(100vh - 90px);
  position: relative;
}

.main-title .title-text {
  width: 100%;
  height: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.main-title .title-text h1 {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
}

.main-title .title-text p {
  font-size: 22px;
  font-weight: 700;
}

.main-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

/* #### section1 #### */
.section1 .container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/section1-bg.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 70px;
  padding-top: 80px;
  z-index: -100;
}

/* **** 섹션타이틀 bg **** */
.sec-title h2 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.sec-title .bg-blue {
  position: relative;
}

.sec-title .bg-blue::after {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background: var(--light-blue);
  position: absolute;
  top: -8px;
  left: -19px;
  z-index: -1;
}

.sec-title p {
  text-align: center;
  font-size: 18px;
}

/* #### section2 #### */
.section2 .container {
  height: 100vh;
  background-image: url(../images/section2-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section2 .bl-list {
  width: 100%;
  height: 100%;
  display: flex;
}

.section2 .bl-list li {
  width: 25%;
  height: 100%;
  border-right: 0.1px solid #bebebe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
}

.section2 .bl-list li:last-child {
  border-right: none;
}

.section2 .bl-list li > h3 {
  margin: 15px 0 25px;
}

.section2 .bl-list li > p {
  font-weight: 400;
  padding: 0 15px;
  word-break: keep-all;
  line-height: 1.8em;
}

.section2 .bl-list li > .sub-title {
  font-size: 18px;
  font-weight: 700;
}

.hidden {
  height: 0;
  opacity: 0;
}

.section2 li:hover {
  background: rgba(0, 72, 117, 0.5);
}

.section2 li:hover .hidden {
  height: auto;
}

.section2 li:hover h3 {
  transform: scale(1.4);
  transition: 0.4s;
}

.section2 li:hover .kf-title-slide {
  animation: title-slide 0.6s forwards;
}

.section2 li:hover .kf-next-slide {
  animation: next-slide 0.6s 0.3s forwards;
}

@keyframes title-slide {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes next-slide {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.section2 .btn-link {
  color: #fff;
  position: relative;
  margin: 20px auto;
  border: 2px solid #fff;
  padding: 5px 15px 5px 23px;
  display: flex;
  align-items: center;
}

.section2 .btn-link img.arrow-after {
  display: none;
}

/* **** btn hover효과 **** */
.section2 .btn-link:hover {
  color: #000;
  background: #fff;
}

.section2 .btn-link:hover img.arrow-before {
  display: none;
}

.section2 .btn-link:hover img.arrow-after {
  display: inline-block;
}

/* #### section3 #### */
.section3 .container {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.section3 .news-list {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-top: 75px;
  /* padding: 0 20px; */
  gap: 20px;
}

.section3 .news-list li {
  width: 25%;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #ccc;
}

.section3 .news-list .img-box {
  width: 100%;
  height: 230px;
}

.section3 .news-list .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.section3 .news-list .text-box {
  padding: 10px;
}

.section3 .news-list .text-box .bl-name {
  color: var(--kolon-blue);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section3 .news-list .text-box h4 {
  word-break: keep-all;
  margin-bottom: 20px;
}

.section3 .news-list .text-box .news-text {
  color: var(--text-light);
  height: 90px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}

.section3 .news-list .text-box .news-date {
  color: var(--text-light);
  line-height: 30px;
}

/* #### footer #### */
footer {
  background: #171717;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

footer .container {
  padding: 40px 50px;
}

footer .footer-box {
  display: flex;
  justify-content: space-between;
}

footer .footer-box:first-child {
  margin-bottom: 60px;
}

footer .footer-menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

footer h1 img {
  height: 20px;
}

footer .footer-menu-list {
  display: flex;
  gap: 30px;
}

footer .footer-menu-list a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

footer .footer-menu-list li:first-child a {
  color: #fff;
  font-weight: 700;
}

footer .link-box {
  display: flex;
  gap: 30px;
  color: #fff;
}

footer .link-box .link-depth1 {
  width: 180px;
  height: 45px;
}

footer .link-box .link-depth1 > li {
  background: #000;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 30px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

footer .link-box a {
  color: #fff;
}

footer .link-box .link-depth2 {
  width: 100%;
  display: none;
}

footer .link-box .link-depth2 li {
  margin: 10px 20px 10px 30px;
}

footer .link-box .link-depth2 li a {
  color: rgba(255, 255, 255, 0.8);
}

footer .link-box .link-depth2 li a:hover {
  color: #fff;
}

footer .link-box .link-depth2.show {
  display: block;
  position: absolute;
  bottom: 47px;
  left: 0;
  background: #000;
  border-radius: 25px;
}

footer .sns-box {
  display: flex;
  gap: 10px;
}
